*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#story{
    margin: 5vw;
    max-width: 500px;
    font-size: 1.2em;
}

#options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#options button{
    display: block;
    border: none;
    background: none;
    font-size: 1em;
    margin-top: 3vh;
}

#options button:hover,
#options button:focus{
    cursor: pointer;
    font-size: 1.2em;
}